<div class='mainNavigationMenu'>
    <ul>
        <li>
            <a>Home</a>
                <ul>
                    <li><a href='link here'>Link Item 1</a></li>
                    <li><a href='link here'>Link Item 1</a></li>
                    <li><a href='link here'>Link Item 1</a></li>
                </ul>
        </li>
        <li>
            <a>Account</a>
                <ul>
                    <li><a href='link here'>Link Item 2</a></li>
                    <li><a href='link here'>Link Item 2</a></li>
                    <li><a href='link here'>Link Item 2</a></li>
                </ul>
        </li>
        <li>
            <a>Settings</a>
                <ul>
                    <li><a href='link here'>Link Item 3</a></li>
                    <li><a href='link here'>Link Item 3</a></li>
                    <li><a href='link here'>Link Item 3</a></li>
                </ul>
        </li>
    </ul>
</div>